.la-reviews {
  background-color: $charcoal;
  padding: 112px 0;
}

.la-reviews__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: $dark-black;
  margin: 0 0 32px;
  letter-spacing: 0.15px;
}

.la-reviews__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $dark-black;
  letter-spacing: 0.15px;
}

.la-reviews__date {
  letter-spacing: 0.25px;
  color: $dark-grey;
  flex-shrink: 0;
}

.la-reviews__position {
  letter-spacing: 0.25px;
  flex-grow: 1;
  width: 100%;
}

.la-reviews__text {
  margin: 0;
  letter-spacing: 0.25px;
}

.la-reviews__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
  margin-right: 12px;
}

.la-reviews__author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.la-reviews__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-left: 150px;
  position: relative;
}

.la-reviews__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.la-reviews__slide {
  background-color: $white;
  border-radius: 3px;
  min-height: 348px;
}

.la-reviews__slide-info {
  padding: 40px;
}

.la-reviews__slide.swiper-slide {
  width: 657px;
}

.la-reviews__slider {
  overflow: hidden;
  max-width: 1290px;
  width: 100%;
  margin: 0;
}

.la-reviews__button {
  @include reset-button;

  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  transition: all 0.4s ease-out 0.1s;
  top: 5px;

  &--prev {
    right: 14.8%;
  }

  &--next {
    right: 10.3%;
  }

  &:hover,
  &:focus {
    color: $blue;
    transform: scale(1.3);
  }

  &:active {
    transform: scaleY(1) scaleX(1.5);
  }
}

@media (max-width: 1439px) {
  .la-reviews__container {
    padding-left: 32px;
  }

  .la-reviews__slide.swiper-slide {
    width: 552px;
  }

  .la-reviews__button {
    &--prev {
      right: 9.3%;
    }

    &--next {
      right: 6%;
    }
  }
}

@media (max-width: 1023px) {
  .la-reviews {
    padding: 96px 0;
  }

  .la-reviews__container {
    padding-left: 24px;
  }

  .la-reviews__slide.swiper-slide {
    width: 443px;
  }

  .la-reviews__slide-info {
    padding: 32px;
  }

  .la-reviews__button {
    &--prev {
      right: 11.3%;
    }
  }
}

@media (max-width: 767px) {
  .la-reviews {
    padding: 64px 20px 116px;
  }

  .la-reviews__container {
    padding-left: 0;
  }

  .la-reviews__author {
    flex-direction: column;
    align-items: center;
  }

  .la-reviews__image {
    margin: 0 0 12px;
  }

  .la-reviews__info {
    flex-direction: column;
    align-items: center;
  }

  .la-reviews__slide-info {
    padding: 32px 32px 84px;
    position: relative;
  }

  .la-reviews__date {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .la-reviews__text,
  .la-reviews__position {
    text-align: center;
  }

  .la-reviews__button {
    top: auto;
    bottom: -51px;

    &--prev {
      left: 35%;
    }

    &--next {
      right: 35%;
    }
  }
}
