$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #424242;
$dark-black: #212121;
$yellow: #ffc000;
$blue: #005fae;
$light-blue: #ebf2fa;
$grey: #e0e0e0;
$charcoal: #f0f0f0;
$dark-grey: #999999;
$sky-blue: #55acee;
$navy: #3d509f;
$sea-blue: #3b6b96;
$pale-white: rgba(255, 255, 255, 0.8);
$dark-red: #af2f1d;
$pale-red: #efd5d2;
